.on {
	display: inline-block;
	background-color: #454545;
	color: #cccccc;
	font-size: 20px;
	height: 28px;
	width: 160px;
	text-align: center;
	text-decoration: none;
}
.off {
	display: inline-block;
	background-color: #353535;
	color: #909090;
	font-size: 20px;
	height: 28px;
	width: 160px;
	text-align: center;
	text-decoration: none;
}
.menu {
	background-color: #353535;
}

body {
	background-color: #454545;
	font-size: 32px;
	color: #cccccc;
}
button {
	background-color: #454545;
	font-size: 32px;
	color: #cccccc;
}
input {
	background-color: #454545;
	font-size: 32px;
	color: #cccccc;
}