.on {
	display: inline-block;
	background-color: #454545;
	color: #cccccc;
	font-size: 20px;
	height: 28px;
	width: 160px;
	text-align: center;
	text-decoration: none;
}
.off {
	display: inline-block;
	background-color: #353535;
	color: #909090;
	font-size: 20px;
	height: 28px;
	width: 160px;
	text-align: center;
	text-decoration: none;
}
.menu {
	background-color: #353535;
}

.div_on {
	background-color: #355535;	
	color: #11cc11;
	font-size: 16px;
}

.div_off {
	background-color: #353535;	
	color: #cccccc;
	font-size: 16px;
}

body {
	background-color: #454545;
	font-size: 32px;
	color: #cccccc;
}
button {
	background-color: #454545;
	font-size: 26px;
	color: #cccccc;
	float: right;
}
input {
	background-color: #454545;
	font-size: 32px;
	color: #cccccc;
}

p {
	background-color: #353535;
}

a:link {
  color: #cccccc;
  font-size: 16px;
}
a:visited {
  color: #858585;
  font-size: 16px;
}

